# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.zip
*.cache

# Virtual environments
venv/
.venv/
.env/
.envrc

# =========================
# Dataset
coco/
runs/
results/
attack_results/
baseline_results/
# =========================
# Ignore generated YOLO labels only
coco/val2017_subset500/labels/

# =========================
# YOLO / ML Outputs
# =========================
runs/
results/
logs/
attack_results/
baseline_results/
*.log

# =========================
# Generated Attack Images
# =========================
attacks/*/images/

# =========================
# Model Weights (optional)
# Uncomment if you do NOT want weights tracked
# *.pt
# *.pth

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/